header h1 {
    color: purple;
    font-size: 24px;
}

header span {
    font-size: 18px;
}

section h2 {
    color: rgb(246, 143, 160);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
}